body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(223, 225, 255);
  color: black;
  margin: 2px;
  padding: 2px;
  text-align: center;
}

input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
  margin: 10px;
}


.App {
  text-align: center;
  align-items: center;
}

table {
  margin-bottom: 20px;
  display: inline-block;
}

footer {
  margin-bottom: 10px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

.App-navbar {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.nav-item:hover {
  background-color: mediumaquamarine;
}

.nav-item {
  justify-content: left;
  display: inline;
  font-weight: bold;
  background-color: dimgrey;
  padding: 5px;
}


.App-content {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

tr {background-color: dimgrey;}

tr:hover {background-color: mediumaquamarine;}

tr td {
  border: 1px solid;
  padding: 5px;
  color: cornsilk;
}

tr th {
  padding: 10px;
  text-align: center;
  background-color: mediumaquamarine;
  color: cornsilk;
  border: 1px solid;
}

ol {
  list-style: none;
  display: inline-block;
  text-align: left;
}

a { 
  text-decoration: none;
  color: black;
 }